body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header, footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #0056b3;  /* Biru lebih gelap */
    text-align: center;
}

nav a {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #007BFF;  /* Sama seperti header */
}

section {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

form input, form textarea, form select, form button {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    max-width: 400px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}


